.header {
  margin-top: 5px;
}
.header img {
  width: 80%;
  margin-top: -7px;
}
.custom_navbar_toggler {
  background-color: #ff0000;
}
.header button:focus {
  outline: none;
  box-shadow: none;
}
.navbar_icon {
  color: #fff !important;
  font-size: 30px;
}
@media screen and (min-width: 992px) {
  .header img {
    width: 86%;
    margin-top: -7px;
    margin-right: -30px;
    margin-left: 30px;
  }
}
