/* main style */
.main_movies_tabs {
  margin-top: 40px;
}
.main_movies_tabs button {
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 7px 15px;
  margin-right: 10px;
  border-radius: 4px;
}
button.active_tabs {
  background-color: red;
  transition: all 0.4s linear;
}
button.not_active_tab:hover {
  color: red;
  transition: all 0.3s linear;
}

@media screen and (min-width: 982px) {
  .main_movies_tabs {
    padding-left: 45px;
  }
}
