.search_bar {
  display: flex;
  justify-content: flex-end;
}
.search_bar input {
  height: 35px;
  background-color: #fff;
  margin-top: 3px;
}
.search_bar input:enabled {
  padding-left: 30px;
  font-size: 15px;
}
.search_bar div {
  width: 100% !important;
  position: relative;
  margin-right: 15px;
}
.search_bar div button {
  color: #333;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 17px;
}
.search_bar div button:focus {
  transform: scale(0.9);
}

.user_btn {
  width: 42px;
  height: 42px;
  background-color: red;
  border-radius: 50%;
}
.user_btn i {
  color: #fff;
  margin-left: -3px;
}
@media screen and (min-width: 992px) {
  .search_bar {
    width: 450px;
  }
}
