.not_found_page {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 460px;
  margin-top: 60px;
}
.not_found_page h2 {
  font-size: 185px;
  font-weight: 600;
}
.not_found_page p:nth-child(2) {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 5px;
}
.not_found_page p:nth-child(3) {
  font-size: 13px;
}
.not_found_page button {
  color: #fff;
  background-color: red;
  outline: none;
  border: none;
  padding: 13px 35px;
  border-radius: 8px;
}
.not_found_page button:hover {
  background-color: #333;
  transition: all 0.2s ease-in;
}
